.icon {
  display: block;
  background-image: url('/assets/images/icon/icon_star_active.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;

  &.sm {
    height: 16px;
    width: 15px;
  }

  &.md {
    height: 30px;
    width: 32px;
  }

  &.inactive {
    background-image: url('/assets/images/icon/icon_star_inactive.svg');
  }
}
